@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
}

/*Modo desktop*/

/*@media screen and (min-width:1024px) {*/


/*Menu - header*/ 
.menu{
    border-bottom: 1px solid lightgrey;
}

.nav-menu{
    width:87%;
    margin: 14px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}

/*div logo*/

.logo.airbnb{
    flex:1 0 140px;
}

/*buscas*/

.buscas{
    background-color: white;
    border-radius: 40px;
    border: 1px solid lightgray;
    padding:10px;
    /*box-shadow: 1px 1px lightgray;*/
    height:25px;
    display: flex;
    align-items: center;

    margin-left:168px;
}

.linha{
    border-left: 1px solid lightgray;
}

.ul-busca{
    list-style: none;
    display:flex;
    gap:1rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    /*padding-left:18px;*/
}

#busca-1{
    color:#000;
    align-items: center;
    font-weight: 450;
    padding-left:10px ;
    display: flex;
    align-items: center;
}

#busca-2{
    color:#000;
    align-items: center;
    font-weight: 450;
    display: flex;
    align-items: center;
}

#busca-3{
    color:#717171;
    align-items: center;
    font-weight: 350;
    display: flex;
    align-items: center;
}

#btn-busca{
    background-color: #ff385c;
    color:white;
    padding: 10px;
    border-radius: 25px;
}

/*Div perfil e anuncie*/

.anuncie-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:15px;
    align-items: center;
}


/*div anuncie*/

.anuncie{
    background-color: white;
    
}

.ul-anuncie{
    list-style:none;
    display: flex;
    gap:20px;
    align-items: center;
}

#anuncie-aqui{
    text-decoration: none;
    color:#000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:13.5px;
    font-weight: 470;
    margin-right: 14px;
}

#mundo{
    color:#000;

}

/*Div perfil*/

.perfil{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding:7px;
    height:29px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-perfil{
    list-style: none;
    display: flex;
    gap:15px;
    align-items: center;
    color:#717171;
    padding-left: 7px;

}

/*--------------------------------*/


/*main*/
main{
    width:87%;
    margin: auto;
}
/*Titulo*/

.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    margin-top: 25px;
}

.titulo-airbnb{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.titulo h1{
    font-size:27px;
    font-weight:420;
    
}

.botoes{
    display: flex;
}

.btn-cs{
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.btn-cs a {
    margin-left:6px;
    font-size:0.9rem;
    color:#000;

}

/*fotos do airbnb*/

.fotos{
    display:grid;
    grid-template-rows:150px 145px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:20px;
    gap:10px;
}

.fotos div{
    width:100%;
    height:100%;
    border-top-left-radius: 15px;
}

.fotos img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.fotos .img-1{
    grid-row: 1/3;
    grid-column: 1/3;
}

.fotos .img-1 img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fotos .img-3 img{
    border-top-right-radius: 15px;
}

.fotos .img-5 img{
    border-bottom-right-radius: 15px;
}

.mostrar-fotos{
    background-color: white;
    width:195px;
    height:34px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 9px;
    padding-left: 15px;
    margin-top:-60px;
    margin-left: 78.5%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.mostrar-fotos a{
    text-decoration: none;
    color:#000;
    margin-left:10px;
    font-size: 14px;
    font-weight: 450;
}

.lugar{
    padding-top:52px;
    padding-bottom: 32px;;
}

.lugar h2{
    font-size:23px;
    font-weight:450;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lugar p{
    font-size:15.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-top: 5px;

}
/*------*/

#infos-principais{
    display: flex;
    justify-content: space-between;
}

/*preferido dos hospedes menor*/

.preferido-dos-hospedes-menor{
    width: 84%;
    height: 100px;
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 9px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content:space-around;
    gap:20px;
    padding-left: 20px;
}


.titulo-preferidos{
    display: flex;
    width: 180px;
}

.titulo-preferidos h4{
    font-weight: 500;
    font-size: 18px;
}

.raminho{
    width: 30px;
    height: auto;
}

.texto-preferido{
    text-align: start;
    width: 220px;
}

.nota-preferido{
    font-size: 21px;
    font-weight: 300;
    line-height: 20px;
}

.estrelas{
    display: flex;
    margin-top: 10px;
}

.avaliacao-preferido{
    line-height: 20px;
    width: 100px;
    border-left: 1px solid #EBEBEB;
}

.avaliacao-preferido h4{
    font-size: 21px;
    font-weight: 500; 
}

.avaliacao-preferido h5{
    font-size: 11px;
    font-weight: 450;
    text-decoration:underline;
}




/*Anfitião*/
.anfitriao{
    display: flex;
    align-items:center;
    gap:30px;
    margin-top: 33px;
    margin-bottom: 33px;
    
}

.anfitriao img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
}

#host-icon{
    margin-top: -51px;
    margin-left: 33px;
    position: relative;
    margin-bottom: 33px;
}

/*info-host-exp-pet*/

.info-host-exp-pet{
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    width: 84%;
    padding-bottom: 33px;
    padding-left: 10px;
}

.host-exp-pet{
    display: flex;
    align-items:center;
    gap:30px;
    margin-top: 33px;
}

.host-exp-pet-texto h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222;
}

.host-exp-pet-texto p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color:#717171
}



/*Sobre o espaço*/

.infos-espaco{
    margin-top: 30px;
    width: 84%;
}

.algumas-infos{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color:#F7F7F7;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 9px;
    margin-bottom: 35px;
}

.algumas-infos h3{
    font-size: 16px;
    font-weight: 300;
    padding-left: 5px;
}

.infos-espaco p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.infos-espaco a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:#222;
    font-weight: 550;
    display: flex;
    align-items: center;
}

.mostrar-mais{
    margin-top: 15px;
    margin-bottom: 50px;
}

/*O que esse lugar oferece*/
.o-que-oferece{
    width: 84%;
    border-top:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
}

.o-que-oferece h2{
    margin-top: 45px;
    font-size:22px;
    font-weight:450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.oferece{
    display: flex;
    justify-content:space-between;
    width: 88.5%;
}

.ul-oferece-esqueda, .ul-oferece-direita{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.9px;
    font-weight: 300;
    line-height: 40px;
    width: 250px;
}

.alarme{
    text-decoration:line-through;
    line-height: 20px;
}
.ul-oferece-esqueda li, .ul-oferece-direita li{
    display: flex;
    align-items: center;
    gap:20px;
}

.o-que-oferece button{
    color:black;
    background-color: white;
    height: 50px;
    width:300px;
    font-size:16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    font-weight: 450;
    border:1px solid #222;
    margin-top: 40px;
    margin-bottom: 50px;
}

.o-que-oferece button:hover{
    cursor:pointer;
}


/*Calendário*/

.calendario{
    margin-bottom: 50px;
}

.calendario h2{
    margin-top: 50px;
    font-size:22px;
    font-weight:450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
}

.calendario h3{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color:#717171;

}

.icon-limpar-data{
    width: 57%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icon-limpar-data a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 500;
    font-size: 14px;
    
}

/*Card branco reserva*/

.lado-direito{
    width:34%
}

.card-branco{
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.preco-reserva{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    align-items: last baseline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    margin-left: 22px;
    margin-top: 30px;
}

.preco-reserva h2{
    color:#222;
    font-weight: 550;
}

.preco-reserva h3{
    color:#222;
    font-weight: 300;
}

#preco-antigo{
    text-decoration: line-through;
    color: #717171;
    font-weight: 500;
}

.check-in-out-hosp{
    display: grid;
    width: auto;
    height: 105px;
    margin-left: 5%;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 1fr 1fr;

    border: 1px solid #EBEBEB;
    border-radius: 10px;
    margin-right: 5%;

}

.check-in-out-hosp .check-in-data{
    grid-row: 1/2;
    grid-column: 1/2;
}

.check-in-out-hosp .hosp-numero{
    grid-row: 2/3;
    grid-column: 1/3;
}

.check-in-data{
    border-right: 1px solid #EBEBEB;
    padding-left: 10px;
    padding-top: 10px;
}

.check-out-data{
    padding-left: 10px;
    padding-top: 10px;
}

.hosp-numero{
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid #EBEBEB;
}

.check-in-data h5, .check-out-data h5, .hosp-numero h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 2px;

}

.check-in-data h4, .check-out-data h4, .hosp-numero h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;

}

.card-branco button{
    margin-left: 5%;
    margin-top: 20px;
    background-color: #ff385c;
    border:none;
    border-radius: 10px;
    width:90%;
    height:50px;

    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.card-branco button:hover{
    cursor: pointer;
}

.nao-cobrado{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nao-cobrado h3{
    font-weight: 250;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.preco-final{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.preco-final h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.5px;
    font-weight: 300;
}

#preco-por-noite{
    text-decoration: underline;
}

.preco-sem-imposto{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid #EBEBEB;
    padding-top: 20px;
}

.preco-sem-imposto h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.5px;
    font-weight: 600;
}

/*Card preço mais baixo*/
.preco-mais-baixo{
    margin-top: 20px;
    padding: 5%;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap:20px;
}


/*------*/

/*Parte preferido dos hospedes + Notas da casa*/

#preferido-e-notas-casa{
    border-top: 1px solid #EBEBEB;
}

.pref-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.pref-img h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 95px;
    font-weight: 500;
    margin-bottom: 50px;
}

.pref-img img{
    width: auto;
    height: 135px;
}

.pref-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pref-texto h1{
    width: 400px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #222;
    font-weight: 500;
}

.pref-texto p{
    width: 400px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    color: #717171;
    font-weight: 300;
}

/*Notas da casa*/

.notas-da-casa{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:25px;
    margin-top: 60px;
    align-items: center;
}

.divs-notas-casa{
    height: 105px;
    width:120px;
    margin-bottom: 40px;
    border-right: 1px solid #EBEBEB;
    padding-right: 30px;
}

.divs-notas-casa:first-child{
    width:200px;
    padding-right: 5px;
}

.divs-notas-casa:last-child{
    border-right: none;
}

.divs-notas-casa h3{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.divs-notas-casa h2{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 30px;
}

.ul-avaliacao-geral{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-top: 6px;
    line-height: 17px;
}

.ul-avaliacao-geral li{
    display: flex;
    align-items: center;
}


.exatidao-anuncio svg{
    margin-top: -16px;
}
/*------*/

/*Comentario*/

.comentarios{
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;

    display:grid;
    grid-template-rows:200px 200px 200px;
    grid-template-columns: 1fr 1fr;
    padding-top:35px;
    gap:15px;
}

.comentario-1, .comentario-2, .comentario-3, .comentario-4, .comentario-5, .comentario-6{
    height: auto;
    width: 460px;
    /*margin-top: 50px;*/
}

.foto-nome{
    display: flex;
    align-items: center;
    gap:12px;
}

.foto-nome img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.nome-pais{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
}

.nome-pais h3{
    font-size: 15.5px;
    font-weight: 500;
}

.nome-pais h4{
    font-size: 13.5px;
    font-weight: 300;
}

.nota-dias{
    display: flex;
}

.ul-nota-dias{
    list-style: none;
    display: flex;
    align-items: center;
    gap:5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13.5px;
    margin-top:10px;
}

.estrela{
    display: flex;
}

.tempo{
    font-weight: 500;
}

.periodo{
    font-weight: 300;
    color:#717171;
}

.comentario-hospede{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-top:10px;
}

.comentario-hospede p{
    margin-bottom: 10px;
}

.comentario-hospede a{
    color:#222;
    font-weight: 500;
}


.comentarios button{
    color:black;
    background-color: white;
    height: 50px;
    width:300px;
    font-size:16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    font-weight: 450;
    border:1px solid #222;
    margin-bottom: 50px;
}

.comentarios button:hover{
    cursor:pointer;
}

/*---------*/

/*Onde você estará*/

#onde-estara p{
    font-size:15.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-top: 1px;
    padding-bottom: 20px ;
}

#onde-estara img{
    width: 100%;
    height: 100%;
}

/*---*/

/*Quem vai receber você*/

.receber{
    background-color:#f0efe9;;
    border-radius: 15px;
    display:flex;
}

/*host*/

/*Card branco*/
.host-info{
    background-color: white;
    border-radius: 25px;
    display: flex;
    height: 240px;
    width: 370px;
    justify-content: space-around;

    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
}

.imghost{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.imghost img{
    height:49%;
    width:auto;
    border-radius: 100px;

}

.imghost h1{
    font-size:36px;
    font-weight:500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imghost p{
    font-size:15px;
    font-weight:400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.avaliacoes-host{
    display: flex;
    flex-direction: column;
}

.ul-avaliacoes-host{
    list-style: none;
    padding-top: 30px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 23px;
}

.ul-avaliacoes-host .numero{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.linha-host{
    color: #EBEBEB;
}

/*trabalho moro amante*/
.trabalho-moro-amo{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.trabalho{
    display: flex;
    align-items: center;
    gap:10px;

    padding-top: 5px;
    padding-bottom: 0px;
}

.trabalho, .moro, .amo p{
    font-size:15.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 20px ;
}

.moro{
    display: flex;
    align-items: center;
    gap:10px;

    margin-top: -25px;
    margin-bottom: -10px;
}

.amo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.amo a{
    color:#222;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/*receber-esquerda*/

.receber-esquerda{
    width:50%;
    margin-top: 40px;
}

.superhost{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.superhost h3{
    font-weight: 550;
}

.superhost p{
    font-size:15.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px ;
}

.cohost{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top:10px;
    margin-bottom: 30px;
}

.cohost img{
    width:50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.infos-superhost{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15.5px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1px;
}

.botao-host{
    margin-top: 40px;
    margin-bottom: 35px;
}

.botao-host button{
    color:white;
    background-color: #000;
    height: 50px;
    width:60%;
    font-size:15.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    border:none;

}

.botao-host button:hover{
    cursor: pointer;
}

/*proteger pgto*/

.proteger-pgto{
    display: flex;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid lightgrey;
    gap:10px;
    align-items: center;
}

.proteger-pgto h5{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;

}

/*---*/

/*O que você deve saber*/

.h2-titulo{
    margin-top: 50px;
    font-size:24px;
    font-weight:450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}


/*Div deve saber*/
.deve-saber{
    display: flex;
}

.titulos-saber{
    list-style: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 500;
}

/*Regras da casa*/

.regras-casa{
    width:102%;
    margin-bottom: 60px;
}

.ul-regras-casa{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#222;
}

.ul-regras-casa li{
    margin-top: 20px;
}

.ul-regras-casa li a{
    color:#222;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/*Segurança*/

.seguranca{
    width:100%;
    margin-bottom: 60px;
}

.ul-seguranca{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.5px;
    font-weight: 300;
    /*line-height: 34px;*/
    color:#222;
}

.ul-seguranca li{
    margin-top: 20px;
}

.ul-seguranca li a{
    color:#222;
    font-weight: 500;
    display: flex;
    align-items: center;

}

/*Politica de cancelamento*/
.cancelamento{
    width:100%;
    margin-bottom: 60px;
}

.ul-cancelamento{
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.5px;
    font-weight: 300;
    color:#222;
}

.ul-cancelamento li{
    margin-top: 20px;
}

.ul-cancelamento li a {
    color:#222;
    font-weight: 500;
    display: flex;
    align-items: center;

}

/*-------------------------------------------*/

/*Footer*/
footer{
    width:100%;
    margin: auto;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
}

/*3 infos sozinhas*/

.tres-info{
    width:87%;
    margin: auto;
}

.ul-tres-info{
    display:flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap:10px;
    padding-top:36px;
    padding-bottom: 40px;
}

.ul-tres-info li a{
    font-size:14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color:#222222;
    text-decoration: none;

}

/*3 div de info*/

.aha{
    display: flex;
    border-top: 1px solid lightgray;
    padding-top:40px;
    padding-bottom: 40px;

}

/*Atendimento*/
.atendimento{
    margin-left:40px;
}

.ul-atendimento{
    list-style: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 450;
    line-height: 33px;
    
}

.ul-atendimento li a{
    color:#222222;
    text-decoration: none;
    font-weight: 300;
}

/*Hospedagem*/

.hospedagem{
    margin-left:200px;
}

.ul-hospedagem{
    list-style: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 450;
    line-height: 33px;
}

.ul-hospedagem li a{
    color:#222222;
    text-decoration: none;
    font-weight: 300;
}

/*Airbnb footer*/

.airbnb-footer{
    margin-left:100px;
}

.ul-airbnb-footer{
    list-style: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 450;
    line-height: 33px;
}

.ul-airbnb-footer li a{
    color:#222222;
    text-decoration: none;
    font-weight: 300;
}

/*Rodapé final*/

.rodape-final{
    width: 94%;
    margin: auto;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.ul-final{
    list-style: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 300;
    display:flex;
    gap:1rem;  
}

.ul-final li a{
    text-decoration: none;
    color: #222;
}

/*Idiomas, dinheiro e Redes socias*/

.idr{
    display: flex;
    align-items: center;
    color:#222;
    gap:24px;
    
}

.ul-idioma{
    list-style: none;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#222;
    font-weight: 500;
    display:flex;
    gap:7px; 
}

.ul-idioma li a{
    text-decoration: none;
    color: #222;
    align-items: center;
}

.ul-dinheiro {
    list-style: none;
}

.ul-dinheiro li a{
    color:#222;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size:14px;
}

.redes-sociais{
    display: flex;
}

.ul-redes-sociais{
    display: flex;
    gap:16px;
    list-style: none;
}

.ul-redes-sociais li a{
    color:#222;
}

 /*Coisas que devem desaparecer no modo desktop*/
 .no-desktop{
    display: none;
 }

@media screen and (min-width:950px) {
    /**/   
}

/*RESPONSIVIDADE TABLET*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*Coisas que devem desaparecer no modo tablet*/
    .no-tablet{
        display: none;
    }

    #no-tablet{
        display: none;
    }

    .no-desktop{
        display:flex;
     }
    /*-----------------------------------*/

    /*Menu*/
    .menu{
        border-bottom: 1px solid lightgrey;
    }
    
    .nav-menu{
        width:90%;
        margin: 14px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:50px;
    }
    
    /*div logo*/
    
    .logo-airbnb{
        color: #ff385c;
    }
    
    /*buscas*/
    
    .buscas{
        margin-left:27px;
    }
    
    /*Div perfil e anuncie*/
    
    .anuncie-perfil{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:15px;
        align-items: center;
    }
    
    /*div anuncie*/
    
    
    .ul-anuncie{
        list-style:none;
        display: flex;
        gap:10px;
        align-items: center;
    }
    
    #anuncie-aqui{
        font-size:13px;
        font-weight: 470;
        margin-right: 0px;
    }
    
    /*-------*/

    main{
        width:90%;
        margin: auto;
    }
    /*fotos do airbnb*/
    
    .fotos{
        display:grid;
        grid-template-rows:160px 165px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top:20px;
        gap:10px;
    }
    .fotos img{
        width:100%;
        height:100%;
        object-fit:cover;
    }  
    .fotos .img-1{
        grid-row: 1/3;
        grid-column: 1/3;
    }
    .fotos .img-2{
        grid-row: 1/3;
        grid-column: 3/4;
    }
    .fotos .img-3{
        grid-row: 1/3;
        grid-column: 4/5 ;
    }
    .fotos .img-1 img{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .fotos .img-3 img{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .mostrar-fotos{
        background-color: white;
        width:195px;
        height:34px;
        display: flex;
        align-items: center;
        border: 1px solid #000;
        border-radius: 9px;
        padding-left: 15px;
        margin-top:-60px;
        margin-left: 65.5%;
        position: relative;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
    }
    /*---*/

    /*fotos airbnb*/

    /*---*/

    /*Infos principais*/

    #infos-principais{
        display: flex;
        justify-content: space-between;
    }

    /*preferido dos hospedes menor*/

    .lado-esquerdo{
        width:67%;
    }

    .preferido-dos-hospedes-menor{
        width: 82%;
        height: 77px;

        text-align: center;
        justify-content:space-around;
        gap:10px;
        padding-left: 10px;
    }

    .titulo-preferidos{
        width: 160px;
    }

    .titulo-preferidos h4{
        font-size: 16px;
    }

    .raminho{
        width: 25px;
        height: auto;
    }

    .texto-preferido{
        display: none;
    }

    .nota-preferido {
        border-left: 1px solid #EBEBEB;
        width: 100px;
        align-items: center;
    }

    .nota-preferido h4{
        font-size: 18px;
        font-weight: 500;
    }

    .estrelas{
        display: flex;
        margin-top: 6px;
        gap:2px;
        justify-content: center;

    }

    /*Anfitião*/
    .anfitriao{
        margin-bottom: 23px;
    }

    #host-icon{
        margin-top: -44px;
        margin-left: 31px;
        position: relative;
        margin-bottom: 33px;
    }

    /*info-host-exp-pet*/
    
    .host-exp-pet{
        display: flex;
        align-items:normal;
    }

    .host-exp-pet-texto h2{
        margin-bottom: 10px;
    }


/*Sobre o espaço ---- VOLTA AQUI*/

.algumas-infos{
    display:flex;
    flex-direction: column;
    align-items:end;
}


    /*O que esse lugar oferece*/


    .ul-oferece-esqueda{
        list-style: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15.9px;
        font-weight: 300;
        line-height: 40px;
        width: 350px;
    }

    .alarme-2{
        text-decoration:line-through;
    }

    /*Card branco reserva*/

    .lado-direito{
        width:32%
    }

    .card-branco{
        padding-left: 5%;
        padding-right: 5%;
    }

    .nao-cobrado{
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .preco-final{
        display: flex;
        gap:40px;
        justify-content: space-between;
        margin-top: 30px;

    }

    /*---*/

    /*Parte preferido dos hospedes + Notas da casa*/

    .pref-texto h1{
        font-size: 22px;
        padding-bottom: 5px;
    }

    .pref-texto p{
        font-size: 14px;
        width: 300px;
    }

    /*---*/

    /*Notas da casa*/

    .notas-da-casa{
        display: flex;
        width: 100%;
        justify-content:space-between;
        gap:10px;
        margin-top: 60px;
        align-items:normal;
        overflow-x: auto;
    }

    .notas-da-casa::-webkit-scrollbar{
        width:0;
    }

    .divs-notas-casa{
        height: 100px;
        min-width:90px;
        margin-bottom: 30px;
        border-right: 1px solid #EBEBEB;
        padding-right: 0px;
    }

    .divs-notas-casa:first-child{
        min-width:120px;
        padding-right: 10px;
    }

    .divs-notas-casa h3{
        font-size: 11px;
    }

    .divs-notas-casa h2{
        font-size: 15px;
        margin-top: 4px;
        margin-bottom: 30px;
    }

    .ul-avaliacao-geral{
        list-style: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
        margin-top: 6px;
        line-height: 16px;
    }

    .ul-avaliacao-geral li{
        display: flex;
        align-items: center;
    }

    /*---*/

    /*Comentario*/

    .comentarios{
        border-bottom: 1px solid #EBEBEB;
        border-top: 1px solid #EBEBEB;

        display: flex;
        flex-direction: column;
        gap:30px;
    }

    .comentario-1, .comentario-2, .comentario-3, .comentario-4, .comentario-5, .comentario-6{
        height: auto;
        width: 95%;
    }

    /*---*/

    /*Quem vai receber você*/

    .receber{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    /*host*/
    .host{
        padding-bottom: 40px;
        border-bottom: 1px solid lightgray;
        width: 370px;
    }

    .host-info{
        margin-left: 0px;
        margin-right: 0px;
    }

    /*trabalho moro amante*/
    .trabalho-moro-amo{
        margin-left: 0px;
    }

    /*receber-esquerda*/

    .receber-esquerda{
        width:52%;
        margin-top: 40px;
    }

    .botao-host button{
        width:85%;
    }

    /*----------*/

    /*O que você deve saber*/

    /*Div deve saber*/
    .deve-saber{
        display: flex;
        gap:60px;
    }

    /*Regras da casa*/

    .regras-casa{
        width:500px;
        margin-bottom: 60px;
    }

    .ul-regras-casa li a{
        margin-top: 30px;
    }

    /*Segurança*/

    .seguranca{
        width:500px;
    }

    .ul-seguranca li a{
        margin-top: 30px;
    }

    /*Politica de cancelamento*/
    .cancelamento{
        width:550px;
        margin-bottom: 60px;
    }

    .ul-cancelamento li a {
        margin-top: 30px;

    }

    /*-----------------------------------*/

    /*Footer*/

    .tres-info{
        width: 90%;
    }

    /*3 div de info*/
    
    .aha{
        display: flex;
        border-top: 1.5px solid #EBEBEB;
        flex-direction: column;
        justify-content:left;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
        margin-left: 5%;
    }
    
    /*Atendimento*/

    .atendimento{
        border-bottom: 1.5px solid #EBEBEB;
        padding-bottom: 20px;
        margin-left: 0;
    }
    
    /*Hospedagem*/
    
    .hospedagem{
        margin-top: 20px;
        margin-left: 0;
    }
    
    /*Airbnb footer*/
    
    .airbnb-footer{
        margin-top: 20px;
        padding-top: 20px;
        border-top:1.5px solid #EBEBEB;
        margin-left: 0;
    }
    
    /*Rodapé parte final*/
    
    .rodape-final{
        width: 90%;
        margin: auto;
        border-top: 1.5px solid #EBEBEB;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .ul-final{
        font-size: 13.3px;
        gap:10px;  
    }
    
    .ul-final li {
        margin-top:5px;
    }
    
    /*Idiomas, dinheiro e Redes socias*/
    
    .idr{
        gap:2rem;
        margin-bottom: 20px; 
    }

    
}



/*RESPONSIVIDADE MOBILE*/

@media screen and (max-width: 767px) {

    /*Coisas que devem desaparecer no modo MOBILE*/
    .no-mobile{
        display: none;
    }

    .no-desktop{
        display: flex;
    }

    .no-tablet{
        display:none;
    }

    /*------------------------*/

    body{
        width: 100%;
        position: relative;
    }

    main{
        width:100%;
    }

    .titulo{
        display: none;
    }
    #no-mobile{
        display: none;
    }

    /*fotos do airbnb*/

    /*airbnb fotos MOBILE*/
    .fotos-mobile{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 300px;
        overflow: scroll;
        position: relative;
    }

    .fotos-container{
        display: flex;
        width: 100%;
        flex-direction: row;
        overflow-x: scroll;
    }

    .fotos::-webkit-scrollbar{
        width:0;
    }

    .fotos-container::-webkit-scrollbar{
        width:0;
    }

    .fotos-container img{
        width: 100vw;
        height: 100%;
        object-fit:cover;
    }
    

    .mostrar-fotos{
       display: none;
    }
    /*Seta compartilhar coracao*/
    .seta-comp-coracao{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        background-color: transparent;
        position: absolute;
        padding-top: 5%;
        padding-left: 5%;
        
    }

    .seta a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background-color: white;
        border: none;
        color:#000;
        padding-left: 5%;

    }
    .comp-coracao{
        display:flex;
        flex-direction: row;
        gap:10px;

    }
    .comp-coracao button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background-color: white;
        border: none;

    }

    /*---*/

    /*lugar*/

    .lugar{
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 1px;
        padding-bottom: 20px;
    }

    .lugar h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        margin-top: 2px;
        font-size:25px;
    }

    .lugar h2{
        font-size: 16px;
    }

    /*---*/

    /*Infos principais*/

    #infos-principais{
        display: flex;
        justify-content: space-between;
    }

    /*preferido dos hospedes menor*/

    .lado-esquerdo{
        width:100%;
    }

    .preferido-dos-hospedes-menor{
        width: 90%;
        height: 77px;
        display: grid;
        grid-template-columns: 22% 55% 22%;
        grid-template-rows: 77px;

        text-align: center;
        justify-content:space-around;
        gap:1px;
        margin-left: 5%;
        padding-left: 0px;
    }

    .titulo-preferidos{
        width: 135px;
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #EBEBEB;
        border-right: 1px solid #EBEBEB;
        padding-right: 2px;
        padding-left: 2px;

    }

    .titulo-preferidos h4{
        font-size: 15px;
    }

    .raminho{
        width: 25px;
        height: auto;
    }

    .texto-preferido{
        display: none;
    }

    .nota-preferido {
        border-left: none;
        width: 60px;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .nota-preferido h4{
        font-size: 18px;
        font-weight: 500;
    }

    .estrelas{
        display: flex;
        margin-top: 6px;
        gap:2px;
        justify-content: center;

    }

    .avaliacao-preferido{
        width:50px;
        border-left: none;
    }

    /*Info preço menor*/
    .preco-mais-baixo{
        border: none;
        margin-top:10px;
    }
    /*Anfitião*/
    .anfitriao{
        margin-bottom: 23px;
        margin-left: 5%;
        margin-right: 5%;
        gap:10px;
        border-top: 1px solid #EBEBEB;
        padding-top: 20px;
        margin-top:20px;
    }

    #host-icon{
        margin-top: -42px;
        margin-left: 48px;
        position: relative;
        margin-bottom: 33px;
    }

    /*info-host-exp-pet*/

    .info-host-exp-pet{
        margin-left: 5%;
    }

    .host-exp-pet{
        display: flex;
        align-items:normal;
    }

    .host-exp-pet-texto h2{
        margin-bottom: 10px;
    }

    /*Sobre o espaço */

    .algumas-infos{
        display:flex;
        flex-direction: column;
        align-items:start;
    }

    .infos-espaco{
        width:90%;
        padding-left: 5%;
    }

    /*O que esse lugar oferece*/

    .o-que-oferece{
        margin-left: 5%;
    }

    .ul-oferece-esqueda{
        list-style: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15.9px;
        font-weight: 300;
        line-height: 40px;
        width: 300px;
        
    }

    .alarme-2{
        text-decoration:line-through;
    }

    /*Card branco reserva*/

    .lado-direito{
        display: none;
    }

    .card-branco{
        display: none;
    }

    /*---*/

    /*Parte mapa*/
    .onde-estara-mobile{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }
    .onde-estara-mobile p{
        font-size:15.5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        padding-top: 1px;
        padding-bottom: 20px ;
    }
    .onde-estara-mobile img{
        width: 100%;
        height: 100%;
    }

    /*Parte calendário*/

    .calendario{
        margin-left: 5%;
        margin-right: 5%;
    }

    .img-abril{
        width: 100%;
        height: auto;
    }

    /*Parte preferido dos hospedes + Notas da casa*/

    #preferido-e-notas-casa{
        background-color: #EBEBEB;
    }

    .pref-texto h1{
        width: auto;
        font-size: 22px;
        padding-bottom: 5px;
    }

    .pref-texto p{
        font-size: 14px;
        width: 300px;
    }

    /*---*/

    /*Notas da casa*/
    .notas-da-casa{
        display: none;
    }

    /*---*/

    /*Comentario*/

    .comentarios{
        border-bottom: 1px solid #EBEBEB;
        border-top: 1px solid #EBEBEB;
        background-color: #EBEBEB;

        display: flex;
        flex-direction: row;
        gap:30px;

        width: 100%;
        height: 300px;
        justify-content:space-between;
        gap:10px;
        padding-top: 40px;
        margin-bottom: 60px;
        align-items:normal;
        overflow-x: auto;
    }

    #no-mobile{
        display: none;
    }

    .comentarios::-webkit-scrollbar{
        width:0;
    }
    /*VERIFICAR AQUI */
    .comentario-1, .comentario-2, .comentario-3, .comentario-4, .comentario-5, .comentario-6{
        height: 267;
        width: auto;
        min-width: 260px;
        border: 1px solid lightgrey;
        border-radius: 10px;
        padding:15px 15px;
        background-color: white;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .comentario-1{
        
    }
    .foto-nome{
        margin-top: 20px;
    }
    .mostrar-comentarios{
        display: flex;
        align-items: center;
        justify-content: center;
        color:black;
        background-color: white;
        height: 68px;
        width:95%;
        font-size:16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 10px;
        font-weight: 450;
        border:1px solid #222;
        margin-bottom: 50px;
        margin-left: 3%;
    }
    .mostrar-comentarios button:hover{
        cursor:pointer;
    }

    /*--ok--*/

    /*Quem vai receber você*/
    .receber{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .receber, .h2-titulo{
        margin-left: 5%;
        margin-right: 5%;
    }
    /*host*/
    #receber{
        background-color: #f0efe9;
        width: 100%;
        margin-left: none;
        margin-right: none;
    }
    /*Card branco*/
    .host-info{
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;

        height: auto;
        width: 90%;

        margin-left: 15px;
        margin-top: 40px;
        margin-right: 10px;
    }
    .imghost{
        margin-left: 0px;
        align-items: center;
    }
    .imghost img{
        height:auto;
        width:49%;
        border-radius: 100px;
    }
    .avaliacoes-host{
        display: flex;
        flex-direction: column;
        align-items:start;
        margin-left: 25px;
        margin-bottom: 20px;
    }
    /*trabalho moro amante*/
    .trabalho-moro-amo{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        padding-bottom: 30px;
        margin-right: 15px;
        border-bottom: 1px solid lightgray;
    }
    /*receber-esquerda*/
    .receber-esquerda{
        width:90%;
        margin-top: 40px;
    }
    .botao-host button{
        height: 70px;
        width:100%;
    }
   
    /*-----ok-----*/

    /*O que você deve saber*/

    /*Div deve saber*/
    .deve-saber{
        width: 90%;
        display: grid;
        gap:0px;
        margin-left: 5%;
        margin-right: 5%;

    }

    .titulos-saber{
        font-size: 25.5px;
    }

    /*Regras da casa*/

    .regras-casa{
        width:100%;
        margin-bottom: 10px;
        grid-row: 2/3;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;

    }

    .ul-regras-casa{
        font-weight: 200;
    }

    .ul-regras-casa li{
        margin-top: 10px;
    }

    .ul-regras-casa li a{
        color:#222;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    /*Segurança*/

    .seguranca{
        width:100%;
        margin-bottom: 10px;
        grid-row: 3/4;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;

    }

    .ul-seguranca{
        font-weight: 200;
    }

    .ul-seguranca li{
        margin-top: 10px;
    }

    .ul-seguranca li a{
        color:#222;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    /*Politica de cancelamento*/
    .cancelamento{
        width:90%;
        margin-bottom: 10px;
        grid-row: 1/2;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ul-cancelamento{
        font-weight: 200;
        width: 80%;
    }

    .ul-cancelamento li{
        margin-top: 10px;
    }

    .denunciar{
        display: flex;
        gap: 20px;
        align-items: center;
        padding-bottom: 20px;
    }

    .denunciar a{
        color:#222;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    /*-----------------------------------*/

    /*Footer*/

    footer{
        border-top: 8px solid #EBEBEB;
    }
    .tres-info{
        width: 90%;
    }

    /*3 div de info*/
    
    .aha{
        display: flex;
        border-top: 1.5px solid #EBEBEB;
        flex-direction: column;
        justify-content:left;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 90%;
        margin-left: 5%;
    }
    
    /*Atendimento*/

    .atendimento{
        border-bottom: 1.5px solid #EBEBEB;
        padding-bottom: 20px;
        margin-left: 0;
    }
    
    /*Hospedagem*/
    
    .hospedagem{
        margin-top: 20px;
        margin-left: 0;
    }
    
    /*Airbnb footer*/
    
    .airbnb-footer{
        margin-top: 20px;
        padding-top: 20px;
        border-top:1.5px solid #EBEBEB;
        margin-left: 0;
    }
    
    /*Rodapé parte final*/
    
    .rodape-final{
        width: 90%;
        margin: auto;
        border-top: 1.5px solid #EBEBEB;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 80px;
    }
    
    .ul-final{
        font-size: 13.3px;
        gap:10px;  
        display: flex;
        flex-wrap: wrap;
        line-height: 9px;
    }

    .no-desktop, .ul-final{
        margin-bottom: 9px;
    }
    
    .ul-final li {
        margin-top:5px;
    }
    
    /*Idiomas, dinheiro e Redes socias*/

    .redes-sociais{
        display: none;
    }
    
    .idr{
        gap:2rem;
        margin-bottom: 20px; 
    }

    .idr a{
        font-size: 14px;
    }

    /*Reserva mobile - VOLTA AQUI DEPOIS*/

    .reserva-mobile{
        width: auto;
        display:flex;
        justify-content: space-between;
        gap:10px;
        min-width: 320px;
        height: 88px;
        border-top: 1px solid lightgrey;

        background-color: white;
        position: fixed;
        right:0;
        left: 0%;
        top: 82.9%;
        padding-top: 18px;
    }

    .preco-noite-dia{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-left: 14px;
    }

    .preco-noite{
        display: flex;
        align-items:last baseline;
        gap:5px;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
    }
    .preco-noite h2{
        font-weight: 550;
    }
    .preco-noite h3{
        font-weight: 300;
    }

    .dias{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        text-decoration: underline;
        font-weight: 500;
        display: flex;
        align-self: self-start;
        padding-top: 3px;
    }

    .botao-reserva{
        padding-right: 14px;
    }

    .botao-reserva button{
        background-color: #ff385c;
        border:none;
        border-radius: 8px;
        width:145px;
        height:48px;
        color:white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15.5px;
        font-weight: 400;
    }

    
    .botao-reserva button:hover{
        cursor: pointer;
    }
}

